body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url('Images/trilliumgradient.png');
	color: #999999;
}
h1 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: large;
	color: #807901;
	font-variant: small-caps;
	text-transform: capitalize;
}
footer {
	border-radius: 10px;
	background-color: #6F6C0F;
	box-shadow: 5px 5px #999966;
	padding: 6px;
	color: #666;
}
.fildLable {
	vertical-align: top;
	text-align: right;
}
#allpage {
	border-radius: 10px;
	box-shadow: 5px 5px #CCCCCC;
	width: 980px;
	border: thin solid #6F6C0F;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}
#copyright {
	font-size: x-small;
	color: #FFFFFF;
}
footer a {
	padding-right: 2px;
	padding-left: 2px;
	color: #FFFFFF;
}
footer a:hover {
	color: #837D07;
	background-color: #EFFCDC;
}

